// board-week
$board-week-grid-color-bg: $color-bg-default;
$board-week-grid-color-gutter: $color-bg-default;
$board-week-grid-break-gutter: 1.6rem;
$board-week-grid-gutter: 0.8rem;
$board-week-grid-gutter-half: 0.1rem;
$board-week-grid-team-width: 11.8rem;
$board-week-grid-on-call-height: 1.6rem;
$board-week-grid-panel-height: 4.2rem;
$board-week-grid-progressbar-height: 0.8rem;
