// contextual variables
//$board-day-grid-color-bg: $color-white;
//$board-day-grid-color-gutter: $color-black;
$board-day-grid-color-bg: #e8edef; // @todo : create variable + move into theme
$board-day-grid-color-gutter: #d4d5d6; // @todo : create variable + move into theme
$board-day-grid-break-gutter: 1.6rem;
$board-day-grid-gutter: 0.1rem;
$board-day-grid-team-width: 11.8rem;
