/* ==========================================================================
   @file: _config.scss
   @theme: _blank
   @desc: root file for configuration
   ========================================================================== */

@import "base/config-base";
@import "components/config-components";
@import "modules/config-modules";
