/* ==========================================================================
   @file: _views.scss
   @theme: _blank
   @desc: Views rules
          A view is a specific named layout
   ========================================================================== */

