/* ==========================================================================
   @file: _basic.scss
   @theme: default
   @desc: Components basic root file
          All basic components (=simple)
   ========================================================================== */

@import "buttons/buttons";
