/* ==========================================================================
   @file: _panels.scss
   @theme: default
   @desc: Structured block
   ========================================================================== */

@import "cards/panel-card";
