/* ==========================================================================
   @file: _medias.scss
   @theme: _blank
   @desc: Medias rules root file
   ========================================================================== */

// import
@import "icons/icons";
