/* ==========================================================================
   @file: _aside.scss
   @theme: default
   @desc: root file for aside styles
   ========================================================================== */

.#{$cssNamespace}aside {
  @extend %aside-style;
}
