/* ==========================================================================
   @file: _config.scss
   @theme: default
   @desc: root file for base theme (minimal) for Apps
   ========================================================================== */

// Base
@import "base/config-base";
