// Base colors
$color-white: #fff;
$color-black: #000;
$color-grey: #ccc;

// Init global colors
$color-bg-default: $color-white;
$color-bg-invert: $color-black;
$color-text-default: $color-black;
$color-text-default-invert: $color-white;
$color-error: red;
$color-success: green;
$color-warning: orange;
