// Fonts & Typography
$root-font-size: 62.5%; // ~10px (default browser = 16px) => reset for use 'rem' unit instead of 'px'
$base-font-size: 1.2rem; // 12px
$font-default: "Ubuntu", Arial, sans-serif;
$font-secondary: "Ubuntu Condensed", "Ubuntu", Arial, sans-serif;
$line-height-base: 1.21;
