/* ==========================================================================
   @file: _panel-card-default.scss
   @theme: default
   @desc: Panel card default with styles
   ========================================================================== */

.#{$cssNamespace}panel-card-default {
  background-color: $color-white;
  color: $color-greyscale-4;

  > header {
    + .#{$cssNamespace}panel-body {
      border-top-color: $color-greyscale-9;
    }
  }

  > .#{$cssNamespace}panel-body {
    background-color: #fbfbfb; // @todo: temp => color palet

    // specific
    .#{$cssNamespace}users {
      border-left-color: #e8edef;
    }
  }

  &[data-color="bleu"] {
    &:before {
      background-color: $color-tertiary-1-a;
    }

    // content
    > .#{$cssNamespace}panel-body {
      .#{$cssNamespace}users {
        color: $color-tertiary-1-a;
      }
    }

    // title
    .#{$cssNamespace}panel-title {
      color: $color-tertiary-1-a;
    }

    // svg icons
    .#{$cssNamespace}icon {
      fill: $color-tertiary-1-a;
    }

    // active state
    &.#{$cssNamespace}is-active {
      background-color: $color-tertiary-1-a;
      color: $color-white;

      &:before {
        background-color: $color-tertiary-1-c;
      }

      // content
      > .#{$cssNamespace}panel-body {
        border-top-color: $color-tertiary-1-c;
        background-color: $color-tertiary-1-a;

        // specific
        .#{$cssNamespace}users {
          border-left-color: $color-tertiary-1-c;
          color: $color-tertiary-1-d;
        }
      }

      // title
      .#{$cssNamespace}panel-title {
        color: $color-white;
      }

      // svg icons
      .#{$cssNamespace}icon {
        fill: $color-tertiary-1-d;
      }
    }
  }

  &[data-color="orange"] {
    &:before {
      background-color: $color-tertiary-2-a;
    }

    // content
    > .#{$cssNamespace}panel-body {
      .#{$cssNamespace}users {
        color: $color-tertiary-2-a;
      }
    }

    // title
    .#{$cssNamespace}panel-title {
      color: $color-tertiary-2-a;
    }

    // svg icons
    .#{$cssNamespace}icon {
      fill: $color-tertiary-2-a;
    }

    // active state
    &.#{$cssNamespace}is-active {
      background-color: $color-tertiary-2-a;
      color: $color-white;

      &:before {
        background-color: $color-tertiary-2-c;
      }

      // content
      > .#{$cssNamespace}panel-body {
        border-top-color: $color-tertiary-2-c;
        background-color: $color-tertiary-2-a;

        // specific
        .#{$cssNamespace}users {
          border-left-color: $color-tertiary-2-c;
          color: $color-tertiary-2-d;
        }
      }

      // title
      .#{$cssNamespace}panel-title {
        color: $color-white;
      }

      // svg icons
      .#{$cssNamespace}icon {
        fill: $color-tertiary-2-d;
      }
    }
  }

  &[data-color="rose"] {
    &:before {
      background-color: $color-tertiary-3-a;
    }

    // content
    > .#{$cssNamespace}panel-body {
      .#{$cssNamespace}users {
        color: $color-tertiary-3-a;
      }
    }

    // title
    .#{$cssNamespace}panel-title {
      color: $color-tertiary-3-a;
    }

    // svg icons
    .#{$cssNamespace}icon {
      fill: $color-tertiary-3-a;
    }

    // active state
    &.#{$cssNamespace}is-active {
      background-color: $color-tertiary-3-a;
      color: $color-white;

      &:before {
        background-color: $color-tertiary-3-c;
      }

      // content
      > .#{$cssNamespace}panel-body {
        border-top-color: $color-tertiary-3-c;
        background-color: $color-tertiary-3-a;

        // specific
        .#{$cssNamespace}users {
          border-left-color: $color-tertiary-3-c;
          color: $color-tertiary-3-d;
        }
      }

      // title
      .#{$cssNamespace}panel-title {
        color: $color-white;
      }

      // svg icons
      .#{$cssNamespace}icon {
        fill: $color-tertiary-3-d;
      }
    }
  }

  &[data-color="vert-clair"] {
    &:before {
      background-color: $color-tertiary-4-a;
    }

    // content
    > .#{$cssNamespace}panel-body {
      .#{$cssNamespace}users {
        color: $color-tertiary-4-a;
      }
    }

    // title
    .#{$cssNamespace}panel-title {
      color: $color-tertiary-4-a;
    }

    // svg icons
    .#{$cssNamespace}icon {
      fill: $color-tertiary-4-a;
    }

    // active state
    &.#{$cssNamespace}is-active {
      background-color: $color-tertiary-4-a;
      color: $color-white;

      &:before {
        background-color: $color-tertiary-4-c;
      }

      // content
      > .#{$cssNamespace}panel-body {
        border-top-color: $color-tertiary-4-c;
        background-color: $color-tertiary-4-a;

        // specific
        .#{$cssNamespace}users {
          border-left-color: $color-tertiary-4-c;
          color: $color-tertiary-4-d;
        }
      }

      // title
      .#{$cssNamespace}panel-title {
        color: $color-white;
      }

      // svg icons
      .#{$cssNamespace}icon {
        fill: $color-tertiary-4-d;
      }
    }
  }

  &[data-color="kaki"] {
    &:before {
      background-color: $color-tertiary-5-a;
    }

    // content
    > .#{$cssNamespace}panel-body {
      .#{$cssNamespace}users {
        color: $color-tertiary-5-a;
      }
    }

    // title
    .#{$cssNamespace}panel-title {
      color: $color-tertiary-5-a;
    }

    // svg icons
    .#{$cssNamespace}icon {
      fill: $color-tertiary-5-a;
    }

    // active state
    &.#{$cssNamespace}is-active {
      background-color: $color-tertiary-5-a;
      color: $color-white;

      &:before {
        background-color: $color-tertiary-5-c;
      }

      // content
      > .#{$cssNamespace}panel-body {
        border-top-color: $color-tertiary-5-c;
        background-color: $color-tertiary-5-a;

        // specific
        .#{$cssNamespace}users {
          border-left-color: $color-tertiary-5-c;
          color: $color-tertiary-5-d;
        }
      }

      // title
      .#{$cssNamespace}panel-title {
        color: $color-white;
      }

      // svg icons
      .#{$cssNamespace}icon {
        fill: $color-tertiary-5-d;
      }
    }
  }

  &[data-color="violet"] {
    &:before {
      background-color: $color-tertiary-6-a;
    }

    // content
    > .#{$cssNamespace}panel-body {
      .#{$cssNamespace}users {
        color: $color-tertiary-6-a;
      }
    }

    // title
    .#{$cssNamespace}panel-title {
      color: $color-tertiary-6-a;
    }

    // svg icons
    .#{$cssNamespace}icon {
      fill: $color-tertiary-6-a;
    }

    // active state
    &.#{$cssNamespace}is-active {
      background-color: $color-tertiary-6-a;
      color: $color-white;

      &:before {
        background-color: $color-tertiary-6-c;
      }

      // content
      > .#{$cssNamespace}panel-body {
        border-top-color: $color-tertiary-6-c;
        background-color: $color-tertiary-6-a;

        // specific
        .#{$cssNamespace}users {
          border-left-color: $color-tertiary-6-c;
          color: $color-tertiary-6-d;
        }
      }

      // title
      .#{$cssNamespace}panel-title {
        color: $color-white;
      }

      // svg icons
      .#{$cssNamespace}icon {
        fill: $color-tertiary-6-d;
      }
    }
  }

  &[data-color="jaune"] {
    &:before {
      background-color: $color-tertiary-7-a;
    }

    // content
    > .#{$cssNamespace}panel-body {
      .#{$cssNamespace}users {
        color: $color-tertiary-7-a;
      }
    }

    // title
    .#{$cssNamespace}panel-title {
      color: $color-tertiary-7-a;
    }

    // svg icons
    .#{$cssNamespace}icon {
      fill: $color-tertiary-7-a;
    }

    // active state
    &.#{$cssNamespace}is-active {
      background-color: $color-tertiary-7-a;
      color: $color-white;

      &:before {
        background-color: $color-tertiary-7-c;
      }

      // content
      > .#{$cssNamespace}panel-body {
        border-top-color: $color-tertiary-7-c;
        background-color: $color-tertiary-7-a;

        // specific
        .#{$cssNamespace}users {
          border-left-color: $color-tertiary-7-c;
          color: $color-tertiary-7-d;
        }
      }

      // title
      .#{$cssNamespace}panel-title {
        color: $color-white;
      }

      // svg icons
      .#{$cssNamespace}icon {
        fill: $color-tertiary-7-d;
      }
    }
  }

  &[data-color="mauve"] {
    &:before {
      background-color: $color-tertiary-8-a;
    }

    // content
    > .#{$cssNamespace}panel-body {
      .#{$cssNamespace}users {
        color: $color-tertiary-8-a;
      }
    }

    // title
    .#{$cssNamespace}panel-title {
      color: $color-tertiary-8-a;
    }

    // svg icons
    .#{$cssNamespace}icon {
      fill: $color-tertiary-8-a;
    }

    // active state
    &.#{$cssNamespace}is-active {
      background-color: $color-tertiary-8-a;
      color: $color-white;

      &:before {
        background-color: $color-tertiary-8-c;
      }

      // content
      > .#{$cssNamespace}panel-body {
        border-top-color: $color-tertiary-8-c;
        background-color: $color-tertiary-8-a;

        // specific
        .#{$cssNamespace}users {
          border-left-color: $color-tertiary-8-c;
          color: $color-tertiary-8-d;
        }
      }

      // title
      .#{$cssNamespace}panel-title {
        color: $color-white;
      }

      // svg icons
      .#{$cssNamespace}icon {
        fill: $color-tertiary-8-d;
      }
    }
  }


  // apply icon status
  &[data-color] {
    // svg icons
    .#{$cssNamespace}icon.#{$cssNamespace}is-danger {
      fill: $color-error;
    }
  }
}
