/* ==========================================================================
   @file: _basic.scss
   @theme: _blank
   @desc: Components basic root file
          All basic components (=simple)
   ========================================================================== */

@import "buttons/buttons";
@import "forms/forms";
@import "links/links";
@import "lists/lists";
@import "medias/medias";
@import "titles/titles";
@import "typography/typography";
