/* ==========================================================================
   @file: _titles.scss
   @theme: _blank
   @desc: Titles rules root file
   ========================================================================== */

// import
@import "common/title-h1";
@import "common/title-h2";
@import "common/title-h3";
@import "common/title-h4";
