/* ==========================================================================
   @file: _layouts.scss
   @theme: default
   @desc: Layouts rules
          A layout is a generic architecture for your templates
   ========================================================================== */

// common layouts
@import "common/layout-default";
