/* ==========================================================================
   @file: _title-h2.scss
   @theme: _blank
   @desc: Title H2 rules
   ========================================================================== */

h2, .#{$cssNamespace}h2 {
  font-size: 1.8rem;
}
