/* ==========================================================================
   @file: _title-h4.scss
   @theme: _blank
   @desc: Title H4 rules
   ========================================================================== */

h4, .#{$cssNamespace}h4 {
  font-size: 1.4rem;
}
