/* ==========================================================================
   @file: _title-h1.scss
   @theme: _blank
   @desc: Title H1 rules
   ========================================================================== */

h1, .#{$cssNamespace}h1 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}
