/* ==========================================================================
   @file: _title-h3.scss
   @theme: _blank
   @desc: Title H3 rules
   ========================================================================== */

h3, .#{$cssNamespace}h3 {
  font-size: 1.6rem;
}
