/* ==========================================================================
   @file: _btn.scss
   @theme: default
   @desc: Buttons rules
   ========================================================================== */

.#{$cssNamespace}btn {
  @extend %btn-base;
  @extend %btn-color;
}
