/* ==========================================================================
   @file: _btn-icon.scss
   @theme: default
   @desc: Buttons with icon
   ========================================================================== */

.#{$cssNamespace}btn-icon {
  padding: 0.4rem 0.8rem;
}
