/* ==========================================================================
   @file: _link.scss
   @theme: _blank
   @desc: Rules for native link
   ========================================================================== */

// reset link
a {
  @extend %link;
}
