/* ==========================================================================
   @file: _config-modules.scss
   @theme: _blank
   @desc: root file for modules configuration
   ========================================================================== */

@import "boards/config-boards";
